<html>
<head>
    <title>test</title>
</head>
<body>
<form action="do_edit" method="post">
    <div>
        <div>title: </div><input type="text" name="title" value="<%= title %>"><br>
    </div>
    <div>
        <div>content: </div>
        <textarea name="content"><%= content %></textarea><br>
    </div>
    <input type="hidden" name="id" value="<%= _id %>"></input>
    <input type="submit" value="post"></input>
</form>
</body>
</html>