<html>
<head>
    <title>login page</title>
</head>
<body>
<a href="/">home page</a>
<br><br>
<form action="login_action" method="post">
    <div>
        <div>User name: </div><input type="text" name="name"><br>
    </div>
    <div>
        <div>Password: </div><input type="text" name="pw">
    </div>
    <br>
    <input type="submit" value="login"></input>
</form>
<div>no account? <a href="/signup">sign up</a></div>
</body>
</html>