<html>
<head>
    <title>signup page</title>
</head>
<body>
<a href="/">home page</a>
<br><br>
<form action="signup_action" method="post">
    <div>
        <div>User name: </div><input type="text" name="name"><br>
    </div>
    <div>
        <div>Password: </div><input type="password" name="pw">
    </div>
    <br>
    <input type="submit" value="sign up"></input>
</form>
</body>
</html>